body {
    font-family: 'Roboto', sans-serif; background-color: #fff1c2;
}


html.home nav a[href="index.html"],
html.data-des nav a[href="data-des.html"],
html.data-viz nav a[href="data-viz.html"],
html.about nav a[href="about.html"]
{
    border-bottom: 4px solid #ffaa39;
    padding-bottom: 6px;
}

html.home nav a:hover {
    border-bottom: 4px solid #000;
    padding-bottom: 6px;
}
