body {
    font-family: 'Roboto', sans-serif; 
    background-color: #fff1c2;
    background-image: url(IMG/honeycomb-bg.png);
    background-size: cover;
}

.hero-image {
    background-image: url(IMG/Asset\ 1@3x.png)
}

html.home nav a[href="index.html"],
html.data-des nav a[href="data-des.html"],
html.data-viz nav a[href="data-viz.html"],
html.about nav a[href="about.html"]
{
    border-bottom: 4px solid #ffaa39;
    padding-bottom: 6px;
}

nav a:hover {
    border-bottom: 4px solid #fecd67;
    padding-bottom: 6px;
}

/* default state */
button{
    background-color:#c0e4e4;
    border: none; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 6px;
    cursor: pointer; 
    border-radius: 10px;  

}

/* Hover state */
button:hover {
    background-color:#9bdfdf;
  }
  
  /* Selected state */
  button:active {
    background-color: #89cece;
  }

  #chart_div {
    width: 100%;
    height: 500px;
}
#add-chart {
    margin: 10px;
}

